[submodule "preprocessing"]
	path = preprocessing
	url = https://github.com/elmines/preprocessing.git
[submodule "analysis"]
	path = analysis
	url = https://github.com/elmines/EmotChatbotAnalyze.git
[submodule "retrofitting"]
	path = retrofitting
	url = https://github.com/elmines/retrofitting.git
